<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body onload="updateColor(); updateUserText(); updateBotText();">
    <div class="container">
        <div class="left">
            <button class="new-chat"><span>+</span><span>New Chat</span></button>
            <div class="chat-history"></div>
            <div class="button-container">
                <button class="clear-chat"><span>-</span>Clear Conversations</button>
                <button><span>-</span>My Plan</button>
                <button><span>-</span>Settings</button>
                <button><span>-</span>Get Help</button>
                <button><span>-</span>Log Out</button>
            </div>
        </div>
        <div class="right">
            <div class="header">Model: GPT-3.5-turbo</div>
            <div class="chat">
            </div>
            <form action="#">
                <input type="text" id="indicator" placeholder="Listening..">
                <div class="title">TalkGPT</div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>