<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Change</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <button class="new-chat"><span>+</span><span>New Chat</span></button>
            <div class="chat-history"></div>
            <div class="button-container">
                <button><span>-</span>Clear Conversations</button>
                <button><span>-</span>My Plan</button>
                <button><span>-</span>Settings</button>
                <button><span>-</span>Get Help</button>
                <button><span>-</span>Log Out</button>
            </div>
        </div>
        <div class="right">
            <div class="chat"></div>
            <form action="#">
                <input type="text" id="indicator" placeholder="">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>